<div class="main">
  <h2>Choose the sock that best describes you</h2>
  <ul class="allsocks">
    {{#each socks}}
      <li><a href="/socks/{{@index}}"><img src={{this.imageUrl}}></a></li>
    {{/each}}
  </ul>
</div>
