body {
  text-align: center;
  font-family: Arial;
  height: 100%;
}

.main {
  margin-top: 100px;
  background-color: #90edd6;
  width: 80%;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  /*padding-bottom: 10%;*/
}

h1 {
  margin-bottom: 50px;
}

.enter-btn {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 35px;
  display: block;
  height: 100px;
  width: 100px;
  background-color: violet;

  color: white;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.allsocks {
  padding: 0;
}
.allsocks img {
  height: 200px;
}
 .allsocks li {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  list-style-type: none;
 }

 .summary-img {
  float: left;
  margin-left: 0;
  height: 250px;
 }
.summary-list {
  text-align: left;
  list-style-type: none;
}

.left {
  font-size: 80%;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 18px;
  padding-right: 20px;
}
